*{
	margin: 0;
	padding: 0;
}

h1{
	color: red;

}


.home{
	background-image: url(../images/div1.jpg);
	background-position: left;
	background-size: cover;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

.start > h1{
	font-family: 'Gayathri', sans-serif;
	font-size: 100px;
	color: pink;
}

.btn{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(209,45,253,1) 100%);
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition:.4s;
}

.btn:hover{
	background-color: salmon;
}


/*2nd*/

.about{
	background-image: url(../images/div2.jpg);
	background-size: cover;
	height: 100vh;
	display:flex
}

.left{
	height: 100vh;
	width: 50vw;
	display:flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.left2 > .div2h1{
	font-family: 'Gayathri', sans-serif;
	font-size: 50px;
	color: pink;
}

.right{
	height: 100vh;
	width: 50vw;
	display:flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.right2 > .div2h1r{
	font-family: 'Gayathri', sans-serif;
	font-size: 50px;
	color: pink;
}

.div2h1r{
	font-family: 'Gayathri', sans-serif;
	font-size: 50px;
	color: orange;
}


/*3rd*/

.self{
	background-image: url(../images/div3.jpeg);
	height: 50vh;
	background-size: cover;
	text-align:center;
	display:flex
	justify-content: center;
	align-items: center;
	padding: 100px 100px 100px 100px

}


/*4th*/

.gallery{
	background-image: url(../images/div4.jpg);
	height: 50vh;
	background-color: green;
	background-size: cover;
	text-align:center;
	display:flex
	justify-content: center;
	align-items: center;
	background-position: left;
	padding: 100px 100px

}

img{
	padding: 5px;
  	transition: transform .2s; /* Animation */
 	width: 200px;
  	height: 200px;
  	margin: 0 auto;
  	border-radius: 100px;
  	border: solid pink;

}

img:hover{
	transform: scale(1.5)
}


/*5th*/

.form{
	padding: 100px 100px;
	background-image: url(../images/div5.jpg!d);
	height:60vh;
	width:90%;
	background-color: white;
	text-align: center;
	background-size: auto;
	border-style: none;
}

input{
	display: block;
	border: 1px solid pink;
	margin: 5px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

textarea{
	display: block;
	border: 1px solid brown;
	margin: 5px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}


h2{
	font-family: 'Yellowtail', cursive;
	font-size: 50px;
	color: #d12dfd;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}